In [23]:
from langchain import SQLDatabase
from langchain.agents.agent_toolkits import SQLDatabaseToolkit
from langchain.agents import create_sql_agent
from langchain.agents.agent_types import AgentType
from langchain.chat_models import AzureChatOpenAI
from langchain.tools.sql_database.tool import (
    InfoSQLDatabaseTool,
    ListSQLDatabaseTool,
    QuerySQLCheckerTool,
    QuerySQLDataBaseTool,
)
import sqlalchemy
from sqlalchemy import MetaData, Table, create_engine, inspect, select, text
from sqlalchemy.engine import Engine
from sqlalchemy.exc import ProgrammingError, SQLAlchemyError
from sqlalchemy.schema import CreateTable
from sqlalchemy.types import NullType
import json
import openai
import json
from instructor import OpenAISchema as instructor_OpenAISchema
from pydantic import Field
from typing import List, Dict
import os
from openai_schema import OpenAISchema
print(openai.__version__)
connection_string = "mysql+pymysql://root:!wasdB793050@localhost:3306/Aurecon"
db = SQLDatabase.from_uri(connection_string, sample_rows_in_table_info=0)
query_sql_database_tool = QuerySQLDataBaseTool(db=db)

0.28.0

In [2]:
# query table names and schema
table_names = ", ".join(db.get_usable_table_names())
print(table_names)
schema = db.get_table_info(table_names.split(", ")) # create table commands
print(schema)

Capability, Company, Company_Project, Employee, Project, Project_Capability, Project_Employee

CREATE TABLE `Capability` (
	`CapabilityID` VARCHAR(255) NOT NULL,
	`Name` VARCHAR(255),
	PRIMARY KEY (`CapabilityID`)
)DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci


CREATE TABLE `Company_Project` (
	`ProjectID` VARCHAR(255),
	`CompanyID` VARCHAR(255),
	CONSTRAINT company_project_ibfk_1 FOREIGN KEY(`ProjectID`) REFERENCES `Project` (`ProjectID`),
	CONSTRAINT company_project_ibfk_2 FOREIGN KEY(`CompanyID`) REFERENCES `Company` (`CompanyID`)
)DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci


CREATE TABLE `Company` (
	`CompanyID` VARCHAR(255) NOT NULL,
	`Name` VARCHAR(255),
	`Industry` VARCHAR(255),
	PRIMARY KEY (`CompanyID`)
)DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci


CREATE TABLE `Employee` (
	`EmployeeID` VARCHAR(255) NOT NULL,
	`Name` VARCHAR(255),
	`Location` VARCHAR(255),
	`JobTitle` VARCHAR(255),
	`Department` VARCHAR(255),
	`BusinessAddress` VARCHAR(255),
	PRIMARY KEY (`EmployeeID`)
)DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci


CREATE TABLE `Project_Capability` (
	`ProjectID` VARCHAR(255),
	`CapabilityID` VARCHAR(255),
	CONSTRAINT project_capability_ibfk_1 FOREIGN KEY(`ProjectID`) REFERENCES `Project` (`ProjectID`),
	CONSTRAINT project_capability_ibfk_2 FOREIGN KEY(`CapabilityID`) REFERENCES `Capability` (`CapabilityID`)
)DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci


CREATE TABLE `Project_Employee` (
	`ProjectID` VARCHAR(255) NOT NULL,
	`EmployeeID` VARCHAR(255) NOT NULL,
	`Role` VARCHAR(255),
	PRIMARY KEY (`ProjectID`, `EmployeeID`),
	CONSTRAINT project_employee_ibfk_1 FOREIGN KEY(`ProjectID`) REFERENCES `Project` (`ProjectID`),
	CONSTRAINT project_employee_ibfk_2 FOREIGN KEY(`EmployeeID`) REFERENCES `Employee` (`EmployeeID`)
)DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci


CREATE TABLE `Project` (
	`ProjectID` VARCHAR(255) NOT NULL,
	`Name` VARCHAR(255),
	`Location` VARCHAR(255),
	`Status` VARCHAR(255),
	`StartDate` DATE,
	`EndDate` DATE,
	`Asset` VARCHAR(255),
	PRIMARY KEY (`ProjectID`)
)DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci

## Generate SQL Templates
* Use OpenAI Function Call

In [76]:
acceptable_sql = """Below are the requirement of the ACCEPTABLE SQL templates with placeholder(s). 
    * Requiring the parameter placeholder(s) in each sql template
    * ONLY "SELECT" queries
    * The templates include one or more parameter placeholder(s) within the WHERE clause.
    * The parameter placeholder(s) should be a combination of a table name and a column name, enclosed within square brackets, e.g., "[User.Name]".
    * Need specific Selected Column(s) rather than "*".
    * Once the SQL templates are translated into natural language, they can be understood by non-tech users and not semantically duplicated.
    * Hence, the Selected Column and Condition Column(s) should avoid using primary keys like "id" and other columns that are not easily understood by non-tech users.
    * Do not generate any text if there is no ACCEPTABLE SQL template with given table and column information.
    You response should only contain the following text: a SQL query template in each line. 
    Do not include any other text in your response, even something like ##RESPONSE_END##

    ##RESPONSE_START##
    """

def generate_templates(table_name, columns):
    model_name = "gpt4-short" # "chatgpt-4k" 

    response = openai.ChatCompletion.create(
        model=model_name,
        deployment_id=model_name,
        messages=[{'role': "user", "content":f"Please generate ACCEPTABLE SQL templates for the table {table_name}. Here is the information of columns: {json.dumps(columns)} \n\n" + acceptable_sql}], #requiring joining at least 2 tables 
        temperature=1
    )

    # generate_SQL_templates_for_one_table.from_response(response)
    return response

def save_templates_to_text(templates, directory="./templates/sql/"):
    filename = f"templates_to_be_extracted.txt"
    filepath = os.path.join(directory, filename)
    with open(filepath, 'w') as file:
        file.write(templates)

In [80]:
metadata = MetaData()
engine = create_engine(connection_string)
metadata.reflect(bind=engine,)
# Access the first table (as an example)
for table in metadata.sorted_tables[1:]:

    # Extract the table name
    table_name = table.name

    # Extract column details
    columns = [] 
    for column in table.columns:
        column_info = {}
        column_info['name'] = column.name
        column_info['type'] = str(column.type)
        column_info['nullable'] = column.nullable
        column_info['primary_key'] = column.primary_key
        columns.append(column_info)
        # column_info['default'] = column.default
        # column_info['autoincrement'] = column.autoincrement
        # column_info['comment'] = column.comment
        # column_info['foreign_keys'] = list(column.foreign_keys)
    response = generate_templates(table_name, columns)
    # save the response to txt
    with open(f"templates/sql/{table_name}.txt", "w") as f:
        f.write(response.choices[0].message.content)

In [79]:
response.choices[0].message.content

"SELECT Name FROM Capability WHERE Name = '[Capability.Name]'\nSELECT CapabilityID, Name FROM Capability WHERE Name = '[Capability.Name]'\n    ##RESPONSE_END##"

In [74]:
save_templates_to_text(response.choices[0].message.content)

In [91]:
response.choices

[<OpenAIObject at 0x1234fa1b0> JSON: {
   "index": 0,
   "finish_reason": "function_call",
   "message": {
     "role": "assistant",
     "function_call": {
       "name": "GenerateSQLTemplate",
       "arguments": "{\n  \"number_of_tables\": 3,\n  \"sql_template\": \"SELECT Employee.Name, Project.Name, Company.Name FROM Employee JOIN Project_Employee ON Employee.EmployeeID = Project_Employee.EmployeeID JOIN Project ON Project.ProjectID = Project_Employee.ProjectID JOIN Company_Project ON Project.ProjectID = Company_Project.ProjectID JOIN Company ON Company.CompanyID = Company_Project.CompanyID WHERE Employee.Name = [Employee.Name] AND Project.Name = [Project.Name] AND  Company.Name = [Company.Name];\",\n  \"placeholder\": [\"[Employee.Name]\", \"[Project.Name]\", \"[Company.Name]\"]\n}"
     }
   },
   "content_filter_results": {}
 }]

## Function Calls

In [ ]:
class GenerateSQLTemplate(OpenAISchema):
    """ Given some information of a SQL database, create a syntactically correct a SQL query that includes a placeholder within the WHERE clause. 
        This placeholder should be a combination of a table name and a column name, enclosed within square brackets. 
        For example, use '[User.Name]' as the placeholder format.
        ## Input
            tables <str>: the table names
            schema <str>: the schema of the tables
            number_of_tables <int>: the number of tables required in the SQL query template which are connected by join operations
            sql_template <str>: a SQL query template with a placeholder.  Below is an example for a SQL database with a table "User".
                ```
                SELECT 
                    User.status
                FROM 
                    User
                WHERE 
                    User.Name = [User.Name];
                ```
                Please be creative to generate a SQL query template for a SQL database with multiple tables.
            placeholder <str>: the placeholder in the sql query template, e.g., [User.Name] in the above example
    """
    tables: str = Field(table_names, description="The names of tables for a SQL database.")
    schema: str = Field(schema, description="The schema of the tables.")
    number_of_tables: int = Field(..., description="The number of entities (tables excluding associative tables) required in the SQL query template which are connected by join operations.")
    sql_template: str = Field(..., description="A SQL templates.")
    placeholder: List[str] = Field(..., description="A list of placeholders for the values of columns.")

    def generate_template(self):
        return self.sql_template
    
class OpenAISchemaForSQLTemplates(OpenAISchema):
    @classmethod
    def save_prompt_to_json(cls, directory="./prompts/"):
        filename = f"{cls.__name__}_prompt.json"
        filepath = os.path.join(directory, filename)
        with open(filepath, "w") as f:
            json.dump(cls.openai_schema, f)

    def save_templates_to_json(self, directory="./templates/sql/"):
        filename = f"{self.__class__.__name__}_templates.json"
        filepath = os.path.join(directory, filename)
        with open(filepath, 'w') as file:
            file.write(self.json())

    def generate_templates(self):
        return self.sql_templates

class generate_SQL_templates_with_join(OpenAISchemaForSQLTemplates):
    """ Generate SQL Templates with placeholders given table names, schema and required number of tables.
        ## Input
            tables <str>: the table names

            schema <str>: the schema of the tables

            number_of_tables <int>: the number of tables required in the SQL query template which are connected by join operations
            
            sql_templates <List[str]>: syntactically correct and creatively generated SQL queries that includes one or more placeholder(s) within the WHERE clause. 
                This placeholder should be a combination of a table name and a column name, enclosed within square brackets, e.g., [User.Name].
  
                Below is an example for a SQL database with a table "User".
                ```
                SELECT 
                    User.status
                FROM 
                    User
                WHERE 
                    User.Name = [User.Name];
                ```
            
            placeholders <List[List[str]]>: the placeholder(s) in each sql query template, e.g., placeholders[0][0]=="[User.Name]" if the above example is the first sql query template.
    """
    tables: str = Field(table_names, description="The names of tables for a SQL database.")
    schema: str = Field(schema, description="The schema of the tables.")
    number_of_tables: int = Field(..., description="The number of entities or tables joined in the SQL query template by the join operator.")
    sql_templates: List[str] = Field(..., description="SQL templates.")
    placeholders: List[List[str]] = Field(..., description="A list of placeholders.")

# * The template should be syntactically correct and creatively generated
# Below is an ACCEPTABLE SQL template.
#                     ```
#                     SELECT 
#                         User.address
#                     FROM 
#                         User
#                     WHERE 
#                         User.Name = [User.Name];
#                     ```
#                 Below is an UNACCEPTABLE SQL template due to the use of "User.id".
#                     ```
#                     SELECT 
#                         User.address
#                     FROM 
#                         User
#                     WHERE 
#                         User.id = [User.id];
#                     ```
class generate_SQL_templates_for_one_table(OpenAISchemaForSQLTemplates):
    """ Generate SQL Templates with placeholders given table name and schema.
    
        ## Input
            table <str>: the table name

            columns <List[Dict[str, str]]>: the column information of the table
        
            sql_templates <List[str]>: Below are the requirement of the ACCEPTABLE SQL templates. 
                * ONLY "SELECT" queries
                * The templates include one or more parameter placeholder(s) within the WHERE clause. 
                * The parameter placeholder(s) should be a combination of a table name and a column name, enclosed within square brackets, e.g., "[User.Name]".
                * The Selected Column and Condition Column(s) should be meaningful to humans, i.e., avoiding using columns as primary keys like "id".
                * Need specific Selected Column(s) rather than "*"
                      
            placeholders <List[List[str]]>: the parameter placeholder(s) in each sql template, e.g., placeholders[0][0]=="[User.Name]" if the above example is the first sql query template.
    """
    table: str = Field(..., description="The table name.")
    columns: List[Dict[str, str]] = Field(..., description="The columns of the table.")
    sql_templates: List[str] = Field(..., description="SQL templates.")
    placeholders: List[List[str]] = Field(..., description="lists of placeholders.")

In [ ]:
def generate_templates(table_name, columns, response_model):
    
    model_name = "gpt4-short" # "chatgpt-4k" 

    response_model.save_prompt_to_json()
    response = openai.ChatCompletion.create(
        model=model_name,
        deployment_id=model_name,
        messages=[{'role': "user", "content":f"Please generate ACCEPTABLE SQL templates for the table {table_name}. Here is the information of columns: {json.dumps(columns)} \n\n" + acceptable_sql}], #requiring joining at least 2 tables 
        # functions = [response_model.openai_schema],
        # function_call = {"name": GenerateSQLTemplate.openai_schema["name"]},
        temperature=1
    )

    # generate_SQL_templates_for_one_table.from_response(response)
    return response

In [93]:
response_model = generate_SQL_templates_for_one_table
response = generate_templates(table_name, columns, response_model)
# parsing
model = response_model.from_response(
    response, validation_context=None, strict=None
)
model._raw_response = response
model.save_templates_to_json()
# Parsing the JSON string into a Python dictionary
# response = response.choices[0].message
# parsed_dict = json.loads(response.function_call.arguments)
# print(parsed_dict['sql_template'], parsed_dict['placeholder'])

/var/folders/z_/xphnyhxs03sg7p8v5dgkr10w0000gn/T/ipykernel_7934/2621913017.py:13: PydanticDeprecatedSince20: The `json` method is deprecated; use `model_dump_json` instead. Deprecated in Pydantic V2.0 to be removed in V3.0. See Pydantic V2 Migration Guide at https://errors.pydantic.dev/2.4/migration/
  file.write(self.json())

In [28]:
# save to json
with open("sql_template.json", "w") as f:
    json.dump(parsed_dict, f)

# save sql template to text file
with open("sql_template.txt", "w") as f:
    f.write(parsed_dict['sql_template'])

In [8]:
import json
with open("sql_template.json", "r") as f:
    parsed_dict = json.load(f)
sql_template = parsed_dict['sql_template']
placeholder = parsed_dict['placeholder']

SELECT Company.Name, Project.Name FROM Company INNER JOIN Company_Project ON Company.CompanyID = Company_Project.CompanyID INNER JOIN Project ON Company_Project.ProjectID = Project.ProjectID WHERE Company.Name = [Company.Name];
[('the University of Melbourne',), ('Lendlease',), ('Grocon',), ('Department of Foreign Affairs and Trade (DFAT)',)]

## SQL To Text Queries

In [3]:

class display_text_queries(OpenAISchema):
    """ Show the generated text queries to the user.
       ## Arguments
        sql_template <str>: a SQL query that includes a placeholder within the WHERE clause. This placeholder should be a combination of a table name and a column name, enclosed within square brackets. For example, use '[User.Name]' as the placeholder format.
        num_of_text_templates <int>: the number of text templates to be generated.
        text_templates <List[str]>: a list of text templates. 3 text queries are generated by transforming the providied SQL query. The text queries have to be understoodable by humans without any knowledge of SQL and database.
       """
    sql_template: str = Field(..., description="A SQL template.")
    num_of_text_templates: int = Field(..., description="The number of text templates to be generated.")
    text_templates: List[str] = Field(..., description="A list of text templates.")
    
    def transform(self):
        return self.text_templates
    
print(display_text_queries.openai_schema)

{'name': 'display_text_queries', 'description': "Show the generated text queries to the user.\n## Arguments\n sql_template <str>: a SQL query that includes a placeholder within the WHERE clause. This placeholder should be a combination of a table name and a column name, enclosed within square brackets. For example, use '[User.Name]' as the placeholder format.\n num_of_text_templates <int>: the number of text templates to be generated.\n text_templates <List[str]>: a list of text templates. 3 text queries are generated by transforming the providied SQL query. The text queries have to be understoodable by humans without any knowledge of SQL and database.", 'parameters': {'properties': {'sql_template': {'description': 'A SQL template.', 'title': 'Sql Template', 'type': 'string'}, 'num_of_text_templates': {'description': 'The number of text templates to be generated.', 'title': 'Num Of Text Templates', 'type': 'integer'}, 'text_templates': {'description': 'A list of text templates.', 'items': {'type': 'string'}, 'title': 'Text Templates', 'type': 'array'}}, 'required': ['num_of_text_templates', 'sql_template', 'text_templates'], 'type': 'object'}}

In [4]:
with open("sql_template.json", "r") as f:
    parsed_dict = json.load(f)
sql_template = parsed_dict['sql_template']
placeholder = parsed_dict['placeholder']

sql_template

'SELECT Company.Name, Project.Name FROM Company INNER JOIN Company_Project ON Company.CompanyID = Company_Project.CompanyID INNER JOIN Project ON Company_Project.ProjectID = Project.ProjectID WHERE Company.Name = [Company.Name];'

In [5]:
model_name = "gpt4-short" # "chatgpt-4k"
completion = openai.ChatCompletion.create(
    model=model_name,
    deployment_id=model_name,
    messages=[{'role': "user", "content":f"\n Generate 3 text query templates according to the sql query template: {sql_template} . \n\n"}],
    functions = [display_text_queries.openai_schema],
    temperature=1
)
response = completion.choices[0].message

# Parsing the JSON string into a Python dictionary
parsed_dict = json.loads(response.function_call.arguments)

In [6]:
parsed_dict

{'sql_template': 'SELECT Company.Name, Project.Name FROM Company INNER JOIN Company_Project ON Company.CompanyID = Company_Project.CompanyID INNER JOIN Project ON Company_Project.ProjectID = Project.ProjectID WHERE Company.Name = [Company.Name];',
 'num_of_text_templates': 3,
 'text_templates': ['Give me the company and project names for the company named [Company.Name].',
  "Find the names of both the company and its projects where the company's name is [Company.Name].",
  'Retrieve the company name and their project name(s) for the firm [Company.Name].']}

## Test SQL Agent

In [14]:
toolkit = SQLDatabaseToolkit(db=db, llm=AzureChatOpenAI(
    deployment_name="chatgpt-4k",
    model_name="chatgpt-4k",
), sample_rows_in_table_info=0)
agent_executor = create_sql_agent(
    llm=AzureChatOpenAI(
    deployment_name="chatgpt-4k",
    model_name="chatgpt-4k",
),
    toolkit=toolkit,
    verbose=True,
    agent_type=AgentType.ZERO_SHOT_REACT_DESCRIPTION,
)

agent_executor.run("Describe the Company table")

> Entering new AgentExecutor chain...
Action: sql_db_list_tables
Action Input: ""
Observation: Capability, Company, Company_Project, Project, Project_Capability
Thought:The Company table is in the database. I should query the schema of the Company table.
Action: sql_db_schema
Action Input: "Company"
Observation:
CREATE TABLE `Company` (
	`CompanyID` VARCHAR(255) NOT NULL,
	`Name` VARCHAR(255),
	`Industry` VARCHAR(255),
	PRIMARY KEY (`CompanyID`)
)ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci

/*
3 rows from Company table:
CompanyID	Name	Industry
C1	the University of Melbourne	None
C2	Lendlease	None
C3	Grocon	None
*/
Thought:The Company table has three columns: CompanyID, Name, and Industry. It contains information about different companies.
Final Answer: The Company table has three columns: CompanyID, Name, and Industry.

> Finished chain.

'The Company table has three columns: CompanyID, Name, and Industry.'

In [15]:
agent_executor.run("Show me all the rows in Company_Project table")

> Entering new AgentExecutor chain...
Action: sql_db_list_tables
Action Input: ""
Observation: Capability, Company, Company_Project, Project, Project_Capability
Thought:I can query the Company_Project table.
Action: sql_db_schema
Action Input: "Company_Project"
Observation:
CREATE TABLE `Company_Project` (
	`ProjectID` VARCHAR(255),
	`CompanyID` VARCHAR(255),
	CONSTRAINT company_project_ibfk_1 FOREIGN KEY(`ProjectID`) REFERENCES `Project` (`ProjectID`),
	CONSTRAINT company_project_ibfk_2 FOREIGN KEY(`CompanyID`) REFERENCES `Company` (`CompanyID`)
)ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci

/*
3 rows from Company_Project table:
ProjectID	CompanyID
P1	C1
P1	C2
P2	C2
*/
Thought:I can query the Company_Project table to retrieve all the rows.
Action: sql_db_query
Action Input: "SELECT * FROM Company_Project"
Observation: [('P1', 'C1'), ('P1', 'C2'), ('P2', 'C2'), ('P3', 'C3'), ('P4', 'C4')]
Thought:I now know the final answer.
Final Answer: Here are the rows in the Company_Project table:
1. ProjectID: P1, CompanyID: C1
2. ProjectID: P1, CompanyID: C2
3. ProjectID: P2, CompanyID: C2
4. ProjectID: P3, CompanyID: C3
5. ProjectID: P4, CompanyID: C4

> Finished chain.

'Here are the rows in the Company_Project table:\n1. ProjectID: P1, CompanyID: C1\n2. ProjectID: P1, CompanyID: C2\n3. ProjectID: P2, CompanyID: C2\n4. ProjectID: P3, CompanyID: C3\n5. ProjectID: P4, CompanyID: C4'

In [16]:
agent_executor.run("Generate 3 SQL queries which you think are most likely to be executed by the user")

> Entering new AgentExecutor chain...
Action: sql_db_list_tables
Action Input: ""
Observation: Capability, Company, Company_Project, Project, Project_Capability
Thought:I see that there are tables named Capability, Company, Company_Project, Project, and Project_Capability. I can query the schema and sample rows from these tables to get a better understanding of the data.
Action: sql_db_schema
Action Input: "Capability, Company, Company_Project, Project, Project_Capability"
Observation:
CREATE TABLE `Capability` (
	`CapabilityID` VARCHAR(255) NOT NULL,
	`Name` VARCHAR(255),
	PRIMARY KEY (`CapabilityID`)
)ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci

/*
3 rows from Capability table:
CapabilityID	Name

*/


CREATE TABLE `Company_Project` (
	`ProjectID` VARCHAR(255),
	`CompanyID` VARCHAR(255),
	CONSTRAINT company_project_ibfk_1 FOREIGN KEY(`ProjectID`) REFERENCES `Project` (`ProjectID`),
	CONSTRAINT company_project_ibfk_2 FOREIGN KEY(`CompanyID`) REFERENCES `Company` (`CompanyID`)
)ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci

/*
3 rows from Company_Project table:
ProjectID	CompanyID
P1	C1
P1	C2
P2	C2
*/


CREATE TABLE `Company` (
	`CompanyID` VARCHAR(255) NOT NULL,
	`Name` VARCHAR(255),
	`Industry` VARCHAR(255),
	PRIMARY KEY (`CompanyID`)
)ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci

/*
3 rows from Company table:
CompanyID	Name	Industry
C1	the University of Melbourne	None
C2	Lendlease	None
C3	Grocon	None
*/


CREATE TABLE `Project_Capability` (
	`ProjectID` VARCHAR(255),
	`CapabilityID` VARCHAR(255),
	CONSTRAINT project_capability_ibfk_1 FOREIGN KEY(`ProjectID`) REFERENCES `Project` (`ProjectID`),
	CONSTRAINT project_capability_ibfk_2 FOREIGN KEY(`CapabilityID`) REFERENCES `Capability` (`CapabilityID`)
)ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci

/*
3 rows from Project_Capability table:
ProjectID	CapabilityID

*/


CREATE TABLE `Project` (
	`ProjectID` VARCHAR(255) NOT NULL,
	`Name` VARCHAR(255),
	PRIMARY KEY (`ProjectID`)
)ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci

/*
3 rows from Project table:
ProjectID	Name
P1	Carlton Innovation Precinct
P2	25 King Street
P3	5 Martin Place
*/
Thought:I can generate SQL queries based on the tables and their schemas. Here are three queries that are likely to be executed by the user:

Query 1: Retrieve the names of all companies in the database.
Thought: I need to select the "Name" column from the "Company" table.
Action: sql_db_query
Action Input: "SELECT Name FROM Company LIMIT 10"
Observation: [('the University of Melbourne',), ('Lendlease',), ('Grocon',), ('Department of Foreign Affairs and Trade (DFAT)',)]
Thought:I now know the final answer.

Final Answer: The names of all companies in the database are:
1. the University of Melbourne
2. Lendlease
3. Grocon
4. Department of Foreign Affairs and Trade (DFAT)

> Finished chain.

'The names of all companies in the database are:\n1. the University of Melbourne\n2. Lendlease\n3. Grocon\n4. Department of Foreign Affairs and Trade (DFAT)'

In [ ]:
import sqlalchemy
# connect to the database
engine = sqlalchemy.create_engine(connection_string)