### Aquiring SQL Templates and Placeholders

In [1]:
import re
from utils import read_template_from_txt_files
all_templates = read_template_from_txt_files()

In [2]:
def extract_placeholders(sql_templates):
    """
    Extracts placeholders from a list of SQL query templates.
    
    Args:
    sql_templates (List[str]): A list of SQL query templates.

    Returns:
    List[List[str]]: A list of lists, each containing placeholders from a corresponding SQL template.
    """
    placeholders = []
    pattern = r"\[([^\]]+)\]"  # Pattern to match placeholders like [Some.Placeholder]

    for template in sql_templates:
        found = re.findall(pattern, template)
        placeholders.append(found)

    return placeholders

all_placeholders = {}
for key, templates in all_templates.items():
    # Extract placeholders
    placeholders = extract_placeholders(templates)
    all_placeholders[key] = placeholders

In [16]:
all_placeholders

{'Project': [['Project.Name'],
  ['Project.StartDate'],
  ['Project.Asset'],
  ['Project.Location'],
  ['Project.Status'],
  ['Project.StartDate', 'Project.EndDate'],
  ['Project.Asset', 'Project.Location']],
 'Capability': [['Capability.Name'], ['Capability.Name']],
 'Employee': [['Employee.Name'],
  ['Employee.JobTitle'],
  ['Employee.Location'],
  ['Employee.Department'],
  ['Employee.BusinessAddress'],
  ['Employee.Name'],
  ['Employee.Name'],
  ['Employee.Name'],
  ['Employee.Department'],
  ['Employee.Location'],
  ['Employee.JobTitle'],
  ['Employee.Department']],
 'Company': [['Company.Name'],
  ['Company.Name'],
  ['Company.Name'],
  ['Company.Industry'],
  ['Company.Industry'],
  ['Company.Industry']]}

## Generate SQL Queries and Answers
* Fill-in procedure

In [64]:
from langchain import SQLDatabase
from langchain.tools.sql_database.tool import QuerySQLDataBaseTool
from sqlalchemy import create_engine, MetaData, Table
from sqlalchemy.sql.sqltypes import Date, DateTime, Time
import itertools
import datetime

class DBTool:
    def __init__(self, connection_string) -> None:
        
        self.engine = create_engine(connection_string)
        self.metadata = MetaData()

        # for query (TODO: decouple this from langchain)
        self.langchain_db = SQLDatabase.from_uri(connection_string, sample_rows_in_table_info=0)

    def query(self, sql):
        return self.langchain_db.run_no_throw(sql)
        # return self.engine.execute(query)
    
    def get_date_columns(self, table_name):

        table = Table(table_name, self.metadata, autoload=True, autoload_with=self.engine)
        return [column.name for column in table.columns if isinstance(column.type, (Date, DateTime, Time))]

db_tool = DBTool("mysql+pymysql://root:!wasdB793050@localhost:3306/Aurecon")

In [69]:

# def generate_queries(table_name, all_templates, all_placeholders, query_sql_database_tool):
#     sql_queries = []
#     for i, placeholders in enumerate(all_placeholders[table_name]):
#         fill_in_for_placeholders = {}
#         for placeholder in placeholders:
#             # print(placeholder)
            
#             # get fill-in values for the column
#             table_name = placeholder.split(".")[0]
#             column_name = placeholder.split(".")[1]

#             # select unique values from the column
#             query = f"SELECT DISTINCT {column_name} FROM {table_name};"
#             fill_in = query_sql_database_tool.run(query)
#             fill_in_for_placeholders[placeholder] = [t[0] for t in eval(fill_in)]
        

#         # fill-in the column name with the fill-in values
#         for fill_in_value in fill_in:
#             if fill_in_value == None:
#                 continue
#             sql_query = all_templates[table_name][i].replace('['+placeholder+']', fill_in_value)
#             # print(sql_query)
#             sql_queries.append(sql_query)
    
#     return sql_queries
            
def generate_queries(table_name, all_templates, all_placeholders, db_tool):
    sql_queries = []
    for placeholders, sql_query in zip(all_placeholders[table_name], all_templates[table_name]):
        fill_in_for_placeholders = {}
        for placeholder in placeholders:
            # Extract table and column name
            column_name = placeholder.split(".")[1]

            # Select unique values from the column
            query = f"SELECT DISTINCT {column_name} FROM {table_name};"
            fill_in = db_tool.query(query)
            fill_in_for_placeholders[placeholder] = [t[0] for t in eval(fill_in)]

        # Generate all combinations of fill-in values (Cartesian product)
        all_combinations = itertools.product(*fill_in_for_placeholders.values()) # fill_in_for_placeholders.values() is a list of lists

        # Fill-in the placeholders with each combination
        for combination in all_combinations: # combination is a tuple of values for each placeholder in order
            for placeholder, value in zip(placeholders, combination):
                if value is None:
                    continue
                sql_query = sql_query.replace('[' + placeholder + ']', str(value))
            sql_queries.append(sql_query)

    return sql_queries

generated_queries = {}

for table_name in all_templates:
    
    print('Table name: ', table_name)
    print('Date-type columns: ', db_tool.get_date_columns(table_name))
    
    generated_queries[table_name] = generate_queries(table_name, all_templates, all_placeholders, db_tool)
    print("The number of generated queries: ", len(generated_queries[table_name]), '\n')

Table name:  Project
Date-type columns:  ['StartDate', 'EndDate']
The number of generated queries:  50

Table name:  Capability
Date-type columns:  []
The number of generated queries:  12

Table name:  Employee
Date-type columns:  []
The number of generated queries:  33

Table name:  Company
Date-type columns:  []
The number of generated queries:  15

In [72]:
queries_answers = {}
for table_name, list_queries in generated_queries.items():
    print('Table name: ', table_name)
    query_answer_tuples = []
    for query in list_queries:
        answer = db_tool.query(query)
        query_answer_tuples.append((query, answer))
    queries_answers[table_name] = query_answer_tuples

Table name:  Project
Table name:  Capability
Table name:  Employee
Table name:  Company

In [73]:
queries_answers

{'Project': [("SELECT Name, Location, Status FROM Project WHERE Name = 'Carlton Innovation Precinct'",
   "[('Carlton Innovation Precinct', 'Melbourne, Victoria', 'inactive')]"),
  ("SELECT Name, Location, Status FROM Project WHERE Name = '25 King Street'",
   "[('25 King Street', 'Queensland', 'Active')]"),
  ("SELECT Name, Location, Status FROM Project WHERE Name = '5 Martin Place'",
   "[('5 Martin Place', 'Sydney', 'Active')]"),
  ("SELECT Name, Location, Status FROM Project WHERE Name = 'Australian Embassy Washington'",
   "[('Australian Embassy Washington', 'Washington', 'Inactive')]"),
  ("SELECT Name, StartDate, EndDate FROM Project WHERE StartDate >= '2018-01-03'",
   "[('Carlton Innovation Precinct', datetime.date(2018, 1, 3), datetime.date(2019, 8, 16))]"),
  ("SELECT Name, StartDate, EndDate FROM Project WHERE StartDate >= '2016-06-27'",
   "[('Carlton Innovation Precinct', datetime.date(2018, 1, 3), datetime.date(2019, 8, 16)), ('25 King Street', datetime.date(2016, 6, 27), datetime.date(2020, 4, 21)), ('Australian Embassy Washington', datetime.date(2016, 11, 17), datetime.date(2019, 1, 12))]"),
  ("SELECT Name, StartDate, EndDate FROM Project WHERE StartDate >= '2012-01-07'",
   "[('Carlton Innovation Precinct', datetime.date(2018, 1, 3), datetime.date(2019, 8, 16)), ('25 King Street', datetime.date(2016, 6, 27), datetime.date(2020, 4, 21)), ('5 Martin Place', datetime.date(2012, 1, 7), datetime.date(2017, 10, 5)), ('Australian Embassy Washington', datetime.date(2016, 11, 17), datetime.date(2019, 1, 12))]"),
  ("SELECT Name, StartDate, EndDate FROM Project WHERE StartDate >= '2016-11-17'",
   "[('Carlton Innovation Precinct', datetime.date(2018, 1, 3), datetime.date(2019, 8, 16)), ('Australian Embassy Washington', datetime.date(2016, 11, 17), datetime.date(2019, 1, 12))]"),
  ("SELECT Name, Asset FROM Project WHERE Asset = 'Museums'",
   "[('Carlton Innovation Precinct', 'Museums')]"),
  ("SELECT Name, Asset FROM Project WHERE Asset = 'Commercial Offices'",
   "[('25 King Street', 'Commercial Offices')]"),
  ("SELECT Name, Asset FROM Project WHERE Asset = '[Project.Asset]'", ''),
  ("SELECT Name, Asset FROM Project WHERE Asset = 'Government Offices'",
   "[('Australian Embassy Washington', 'Government Offices')]"),
  ("SELECT Location, Status, StartDate, EndDate FROM Project WHERE Location = 'Melbourne, Victoria'",
   "[('Melbourne, Victoria', 'inactive', datetime.date(2018, 1, 3), datetime.date(2019, 8, 16))]"),
  ("SELECT Location, Status, StartDate, EndDate FROM Project WHERE Location = 'Queensland'",
   "[('Queensland', 'Active', datetime.date(2016, 6, 27), datetime.date(2020, 4, 21))]"),
  ("SELECT Location, Status, StartDate, EndDate FROM Project WHERE Location = 'Sydney'",
   "[('Sydney', 'Active', datetime.date(2012, 1, 7), datetime.date(2017, 10, 5))]"),
  ("SELECT Location, Status, StartDate, EndDate FROM Project WHERE Location = 'Washington'",
   "[('Washington', 'Inactive', datetime.date(2016, 11, 17), datetime.date(2019, 1, 12))]"),
  ("SELECT Name, Location FROM Project WHERE Status = 'inactive'",
   "[('Carlton Innovation Precinct', 'Melbourne, Victoria'), ('Australian Embassy Washington', 'Washington')]"),
  ("SELECT Name, Location FROM Project WHERE Status = 'Active'",
   "[('25 King Street', 'Queensland'), ('5 Martin Place', 'Sydney')]"),
  ("SELECT Name, Status FROM Project WHERE StartDate = '2018-01-03' AND EndDate <= '2019-08-16'",
   "[('Carlton Innovation Precinct', 'inactive')]"),
  ("SELECT Name, Status FROM Project WHERE StartDate = '2018-01-03' AND EndDate <= '2020-04-21'",
   "[('Carlton Innovation Precinct', 'inactive')]"),
  ("SELECT Name, Status FROM Project WHERE StartDate = '2018-01-03' AND EndDate <= '2017-10-05'",
   ''),
  ("SELECT Name, Status FROM Project WHERE StartDate = '2018-01-03' AND EndDate <= '2019-01-12'",
   ''),
  ("SELECT Name, Status FROM Project WHERE StartDate = '2016-06-27' AND EndDate <= '2019-08-16'",
   ''),
  ("SELECT Name, Status FROM Project WHERE StartDate = '2016-06-27' AND EndDate <= '2020-04-21'",
   "[('25 King Street', 'Active')]"),
  ("SELECT Name, Status FROM Project WHERE StartDate = '2016-06-27' AND EndDate <= '2017-10-05'",
   ''),
  ("SELECT Name, Status FROM Project WHERE StartDate = '2016-06-27' AND EndDate <= '2019-01-12'",
   ''),
  ("SELECT Name, Status FROM Project WHERE StartDate = '2012-01-07' AND EndDate <= '2019-08-16'",
   "[('5 Martin Place', 'Active')]"),
  ("SELECT Name, Status FROM Project WHERE StartDate = '2012-01-07' AND EndDate <= '2020-04-21'",
   "[('5 Martin Place', 'Active')]"),
  ("SELECT Name, Status FROM Project WHERE StartDate = '2012-01-07' AND EndDate <= '2017-10-05'",
   "[('5 Martin Place', 'Active')]"),
  ("SELECT Name, Status FROM Project WHERE StartDate = '2012-01-07' AND EndDate <= '2019-01-12'",
   "[('5 Martin Place', 'Active')]"),
  ("SELECT Name, Status FROM Project WHERE StartDate = '2016-11-17' AND EndDate <= '2019-08-16'",
   "[('Australian Embassy Washington', 'Inactive')]"),
  ("SELECT Name, Status FROM Project WHERE StartDate = '2016-11-17' AND EndDate <= '2020-04-21'",
   "[('Australian Embassy Washington', 'Inactive')]"),
  ("SELECT Name, Status FROM Project WHERE StartDate = '2016-11-17' AND EndDate <= '2017-10-05'",
   ''),
  ("SELECT Name, Status FROM Project WHERE StartDate = '2016-11-17' AND EndDate <= '2019-01-12'",
   "[('Australian Embassy Washington', 'Inactive')]"),
  ("SELECT Name, Asset FROM Project WHERE Asset = 'Museums' AND Location = 'Melbourne, Victoria'",
   "[('Carlton Innovation Precinct', 'Museums')]"),
  ("SELECT Name, Asset FROM Project WHERE Asset = 'Museums' AND Location = 'Queensland'",
   ''),
  ("SELECT Name, Asset FROM Project WHERE Asset = 'Museums' AND Location = 'Sydney'",
   ''),
  ("SELECT Name, Asset FROM Project WHERE Asset = 'Museums' AND Location = 'Washington'",
   ''),
  ("SELECT Name, Asset FROM Project WHERE Asset = 'Commercial Offices' AND Location = 'Melbourne, Victoria'",
   ''),
  ("SELECT Name, Asset FROM Project WHERE Asset = 'Commercial Offices' AND Location = 'Queensland'",
   "[('25 King Street', 'Commercial Offices')]"),
  ("SELECT Name, Asset FROM Project WHERE Asset = 'Commercial Offices' AND Location = 'Sydney'",
   ''),
  ("SELECT Name, Asset FROM Project WHERE Asset = 'Commercial Offices' AND Location = 'Washington'",
   ''),
  ("SELECT Name, Asset FROM Project WHERE Asset = '[Project.Asset]' AND Location = 'Melbourne, Victoria'",
   ''),
  ("SELECT Name, Asset FROM Project WHERE Asset = '[Project.Asset]' AND Location = 'Queensland'",
   ''),
  ("SELECT Name, Asset FROM Project WHERE Asset = '[Project.Asset]' AND Location = 'Sydney'",
   ''),
  ("SELECT Name, Asset FROM Project WHERE Asset = '[Project.Asset]' AND Location = 'Washington'",
   ''),
  ("SELECT Name, Asset FROM Project WHERE Asset = 'Government Offices' AND Location = 'Melbourne, Victoria'",
   ''),
  ("SELECT Name, Asset FROM Project WHERE Asset = 'Government Offices' AND Location = 'Queensland'",
   ''),
  ("SELECT Name, Asset FROM Project WHERE Asset = 'Government Offices' AND Location = 'Sydney'",
   ''),
  ("SELECT Name, Asset FROM Project WHERE Asset = 'Government Offices' AND Location = 'Washington'",
   "[('Australian Embassy Washington', 'Government Offices')]")],
 'Capability': [("SELECT Name FROM Capability WHERE Name = 'Digital'",
   "[('Digital',)]"),
  ("SELECT Name FROM Capability WHERE Name = 'Engagement & Change Advisory'",
   "[('Engagement & Change Advisory',)]"),
  ("SELECT Name FROM Capability WHERE Name = 'Buildings Electrical'",
   "[('Buildings Electrical',)]"),
  ("SELECT Name FROM Capability WHERE Name = 'Buildings Mechanical'",
   "[('Buildings Mechanical',)]"),
  ("SELECT Name FROM Capability WHERE Name = 'Buildings Structures Ground'",
   "[('Buildings Structures Ground',)]"),
  ("SELECT Name FROM Capability WHERE Name = 'Underground Engineering'",
   "[('Underground Engineering',)]"),
  ("SELECT CapabilityID, Name FROM Capability WHERE Name = 'Digital'",
   "[('C1', 'Digital')]"),
  ("SELECT CapabilityID, Name FROM Capability WHERE Name = 'Engagement & Change Advisory'",
   "[('C2', 'Engagement & Change Advisory')]"),
  ("SELECT CapabilityID, Name FROM Capability WHERE Name = 'Buildings Electrical'",
   "[('C3', 'Buildings Electrical')]"),
  ("SELECT CapabilityID, Name FROM Capability WHERE Name = 'Buildings Mechanical'",
   "[('C4', 'Buildings Mechanical')]"),
  ("SELECT CapabilityID, Name FROM Capability WHERE Name = 'Buildings Structures Ground'",
   "[('C5', 'Buildings Structures Ground')]"),
  ("SELECT CapabilityID, Name FROM Capability WHERE Name = 'Underground Engineering'",
   "[('C6', 'Underground Engineering')]")],
 'Employee': [("SELECT Name FROM Employee WHERE Name = 'Matt Magraith'",
   "[('Matt Magraith',)]"),
  ("SELECT Name FROM Employee WHERE Name = 'Tony Lavorato'",
   "[('Tony Lavorato',)]"),
  ("SELECT Name FROM Employee WHERE Name = 'Joseph Presti'",
   "[('Joseph Presti',)]"),
  ("SELECT Name, JobTitle FROM Employee WHERE JobTitle = 'Operations Director, New South Wales and Australian Capital Territory'",
   "[('Matt Magraith', 'Operations Director, New South Wales and Australian Capital Territory')]"),
  ("SELECT Name, JobTitle FROM Employee WHERE JobTitle = 'Design Director'",
   "[('Tony Lavorato', 'Design Director')]"),
  ("SELECT Name, JobTitle FROM Employee WHERE JobTitle = 'Industry Leader, Property and Place – Australia'",
   "[('Joseph Presti', 'Industry Leader, Property and Place – Australia')]"),
  ("SELECT Name, Location FROM Employee WHERE Location = 'Sydney'",
   "[('Matt Magraith', 'Sydney'), ('Tony Lavorato', 'Sydney')]"),
  ("SELECT Name, Location FROM Employee WHERE Location = 'Melbourne'",
   "[('Joseph Presti', 'Melbourne')]"),
  ("SELECT Name, Department FROM Employee WHERE Department = 'NSW & ACT Operations'",
   "[('Matt Magraith', 'NSW & ACT Operations')]"),
  ("SELECT Name, Department FROM Employee WHERE Department = 'NSW & ACT Buildings'",
   "[('Tony Lavorato', 'NSW & ACT Buildings')]"),
  ("SELECT Name, Department FROM Employee WHERE Department = 'SAVI Operations'",
   "[('Joseph Presti', 'SAVI Operations')]"),
  ("SELECT Name, BusinessAddress FROM Employee WHERE BusinessAddress = 'North Sydney'",
   "[('Matt Magraith', 'North Sydney'), ('Tony Lavorato', 'North Sydney')]"),
  ("SELECT Name, BusinessAddress FROM Employee WHERE BusinessAddress = 'Melbourne VIC'",
   "[('Joseph Presti', 'Melbourne VIC')]"),
  ("SELECT JobTitle, Location FROM Employee WHERE Name = 'Matt Magraith'",
   "[('Operations Director, New South Wales and Australian Capital Territory', 'Sydney')]"),
  ("SELECT JobTitle, Location FROM Employee WHERE Name = 'Tony Lavorato'",
   "[('Design Director', 'Sydney')]"),
  ("SELECT JobTitle, Location FROM Employee WHERE Name = 'Joseph Presti'",
   "[('Industry Leader, Property and Place – Australia', 'Melbourne')]"),
  ("SELECT Department, Location FROM Employee WHERE Name = 'Matt Magraith'",
   "[('NSW & ACT Operations', 'Sydney')]"),
  ("SELECT Department, Location FROM Employee WHERE Name = 'Tony Lavorato'",
   "[('NSW & ACT Buildings', 'Sydney')]"),
  ("SELECT Department, Location FROM Employee WHERE Name = 'Joseph Presti'",
   "[('SAVI Operations', 'Melbourne')]"),
  ("SELECT BusinessAddress, Location FROM Employee WHERE Name = 'Matt Magraith'",
   "[('North Sydney', 'Sydney')]"),
  ("SELECT BusinessAddress, Location FROM Employee WHERE Name = 'Tony Lavorato'",
   "[('North Sydney', 'Sydney')]"),
  ("SELECT BusinessAddress, Location FROM Employee WHERE Name = 'Joseph Presti'",
   "[('Melbourne VIC', 'Melbourne')]"),
  ("SELECT Name, JobTitle, Location FROM Employee WHERE Department = 'NSW & ACT Operations'",
   "[('Matt Magraith', 'Operations Director, New South Wales and Australian Capital Territory', 'Sydney')]"),
  ("SELECT Name, JobTitle, Location FROM Employee WHERE Department = 'NSW & ACT Buildings'",
   "[('Tony Lavorato', 'Design Director', 'Sydney')]"),
  ("SELECT Name, JobTitle, Location FROM Employee WHERE Department = 'SAVI Operations'",
   "[('Joseph Presti', 'Industry Leader, Property and Place – Australia', 'Melbourne')]"),
  ("SELECT Name, JobTitle, Department FROM Employee WHERE Location = 'Sydney'",
   "[('Matt Magraith', 'Operations Director, New South Wales and Australian Capital Territory', 'NSW & ACT Operations'), ('Tony Lavorato', 'Design Director', 'NSW & ACT Buildings')]"),
  ("SELECT Name, JobTitle, Department FROM Employee WHERE Location = 'Melbourne'",
   "[('Joseph Presti', 'Industry Leader, Property and Place – Australia', 'SAVI Operations')]"),
  ("SELECT Name, Department, BusinessAddress FROM Employee WHERE JobTitle = 'Operations Director, New South Wales and Australian Capital Territory'",
   "[('Matt Magraith', 'NSW & ACT Operations', 'North Sydney')]"),
  ("SELECT Name, Department, BusinessAddress FROM Employee WHERE JobTitle = 'Design Director'",
   "[('Tony Lavorato', 'NSW & ACT Buildings', 'North Sydney')]"),
  ("SELECT Name, Department, BusinessAddress FROM Employee WHERE JobTitle = 'Industry Leader, Property and Place – Australia'",
   "[('Joseph Presti', 'SAVI Operations', 'Melbourne VIC')]"),
  ("SELECT Name, JobTitle, BusinessAddress FROM Employee WHERE Department = 'NSW & ACT Operations'",
   "[('Matt Magraith', 'Operations Director, New South Wales and Australian Capital Territory', 'North Sydney')]"),
  ("SELECT Name, JobTitle, BusinessAddress FROM Employee WHERE Department = 'NSW & ACT Buildings'",
   "[('Tony Lavorato', 'Design Director', 'North Sydney')]"),
  ("SELECT Name, JobTitle, BusinessAddress FROM Employee WHERE Department = 'SAVI Operations'",
   "[('Joseph Presti', 'Industry Leader, Property and Place – Australia', 'Melbourne VIC')]")],
 'Company': [("SELECT Name FROM Company WHERE Name = 'the University of Melbourne';",
   "[('the University of Melbourne',)]"),
  ("SELECT Name FROM Company WHERE Name = 'Lendlease';", "[('Lendlease',)]"),
  ("SELECT Name FROM Company WHERE Name = 'Grocon';", "[('Grocon',)]"),
  ("SELECT Name FROM Company WHERE Name = 'Department of Foreign Affairs and Trade (DFAT)';",
   "[('Department of Foreign Affairs and Trade (DFAT)',)]"),
  ("SELECT Industry FROM Company WHERE Name = 'the University of Melbourne';",
   '[(None,)]'),
  ("SELECT Industry FROM Company WHERE Name = 'Lendlease';", '[(None,)]'),
  ("SELECT Industry FROM Company WHERE Name = 'Grocon';", '[(None,)]'),
  ("SELECT Industry FROM Company WHERE Name = 'Department of Foreign Affairs and Trade (DFAT)';",
   '[(None,)]'),
  ("SELECT Name, Industry FROM Company WHERE Name = 'the University of Melbourne';",
   "[('the University of Melbourne', None)]"),
  ("SELECT Name, Industry FROM Company WHERE Name = 'Lendlease';",
   "[('Lendlease', None)]"),
  ("SELECT Name, Industry FROM Company WHERE Name = 'Grocon';",
   "[('Grocon', None)]"),
  ("SELECT Name, Industry FROM Company WHERE Name = 'Department of Foreign Affairs and Trade (DFAT)';",
   "[('Department of Foreign Affairs and Trade (DFAT)', None)]"),
  ("SELECT Name FROM Company WHERE Industry = '[Company.Industry]';", ''),
  ("SELECT Industry FROM Company WHERE Industry = '[Company.Industry]';", ''),
  ("SELECT Name, Industry FROM Company WHERE Industry = '[Company.Industry]';",
   '')]}